<div class="header">
  <div class="logo">Alienware</div>
  <ul class="nav-links">
    <li><a href="#">Products</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Pricing</a></li>
  </ul>
  <div class="profile" (click)="navigator()">
    <img
      src="https://media-maa2-2.cdn.whatsapp.net/v/t61.24694-24/473410580_1026568952681964_890651131194669416_n.jpg?ccb=11-4&oh=01_Q5AaIDn0l-PoEILH2nrs33qMQncTgoX5uT4k8DL_Q_t-GOR1&oe=67DDAFDB&_nc_sid=5e03e0&_nc_cat=104"
      alt="User Profile">
  </div>
</div>

