



<!-- Modal -->
<div class="modal fade" [ngClass]="{'show d-block': isModalOpen}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">My Modal</h5>
        <button type="button" class="btn-close" (click)="toggleModal()"></button>
      </div>
      <div class="modal-body">
        <p>This is a Bootstrap modal using Angular class toggling.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="toggleModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Backdrop -->
<div *ngIf="isModalOpen" class="modal-backdrop fade show" (click)="toggleModal()"></div>
