<div class="toolbox-card">
  <h5 class="mb-3">Your Creative Toolbox</h5>
  <div class="icon-box">
  </div>
  <!--        <textarea style="background-color: #efe5fd" class="form-control text-control" type="text"></textarea>-->
  <textarea
    style="background-color: #f8f5fb"
    class="form-control text-control"
    (input)="checkTextLength($event)">
  </textarea>
  <h6 class="mt-3">Screenshot</h6>
  <p>Capture and save screenshots of timer with just a click.</p>
</div>

<!--    <div class="col-md-4">-->
<!--      <div class="sidebar-card">-->
<!--        <h6 class="text-primary">Explore</h6>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item"><a class="nav-link" [routerLink]="'home/time'">Dashboard</a></li>-->
<!--          <li class="nav-item"><a class="nav-link" [routerLink]="'home/profile'">Profile</a></li>-->
<!--          <li class="nav-item"><a class="nav-link" [routerLink]="'home/settings'">Settings</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->


<app-time-sheet></app-time-sheet>
